/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~angular-notifier/styles";

/* body{
  padding: 1%;
  margin: 1%;
} */

mat-form-field{
  width: 100%;
}

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px;
  margin:8px
}

.table {
  margin-top: 10px
}
